body {
	line-height: 1;
  background-color: #000000;
  overflow: hidden;
}

video {
    height: auto;
}

canvas {
    background-color: rgba(0,0,0,1);
    width: 100%;
    height: auto;
}

.left-section {
  flex: 1; /* Takes up 50% of the container width */
}

.right-section {
  flex: 1; /* Takes up 50% of the container width */
}


.skelesvg {
  background-color: #000000;
  width: 100%;
  height: auto;
  border: 1px solid white;
}


.container {
  border: 1px solid red;
}
