:root,
svg {
  --color-red: #fd5548;
  --color-green: #73e3bb;
  --color-blue: #555;
  --color-lightblue: #adf7f6;
  --color-orange: #ffa500;
  --color-bgblue: #141d22;
  
  --text-color: #fff;
  --text-color-alt: #aaa;
  --text-color-p: #ccc;
  --background-color: #000;
  --background-color-alt: #111;

  --font-family: "JetBrains Mono", monospace;
  --line-height: 1.2rem;
  --border-thickness: 1px;

  --font-weight-normal: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 800;

  fill: var(--text-color);
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-variant-numeric: tabular-nums lining-nums;
  font-size: 16px;
  width: 100%;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: calc(min(100ch, round(down, 100%, 1ch)));
  line-height: var(--line-height);
  overflow-x: hidden;
  background-color: black;
}



canvas {
    background-color: rgba(0,0,0,1);
    width: 100%;
    height: auto;
}

.left-section {
  flex: 1; /* Takes up 50% of the container width */
}

.right-section {
  flex: 1; /* Takes up 50% of the container width */
}


.skelesvg {
  background-color: #000000;
  width: 100%;
  height: auto;
  border: 1px solid white;
}


#window-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.window {
  border: 1px solid white;
    flex: 1 1 33vw;
    margin: 2px;
    padding: 0;
    min-height: 48vh;
    box-sizing: border-box;
    position: relative;
    /* stretch height to contain the children */
    display: flex;
}

svg {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: auto;
}

#plotly_container {
    filter: invert(100%) hue-rotate(180deg);
}

.windowTitle {
  font-famiy: monospace;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;;
  color: white;
  padding: 5px;
}



button {
  white-space: nowrap;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin: 0;
  background-color: black;
  color: white;
  border: 1px solid white;
}

button:hover {
  background-color: white;
  color: black;
}


.controls {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}


input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 100%;;
  background: black;
  outline: 1px solid white;
  margin: 10px 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: black;
  cursor: pointer;
  border: 1px solid white;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: black;
  cursor: pointer;
  border: 1px solid white;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: white;
  border: 1px solid black;
}

input[type="range"]::-moz-range-thumb:hover {
  background: white;
  border: 1px solid black;
}
